body{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.col-md-4 {
    margin-left: 400px;
    margin-top: 150px !important;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
[type=button]{
    margin-top: 20px;
    width: 70px;
   background-color: white;
    color: black;
    font-weight: bolder;
    border: 3px solid black; 
}
.timer{
    font-weight: bolder;
    font-size: 30px;
}
#table{
    font-weight: bolder;
    font-size: 30px;
}
